/= partial 'shared/navigation_menu', :locals => {:page => current_page}
%br

-#- current_page.category_breadcrumbs.each do |item|
-#  -if item[:link]
-#    %a{ :href => item[:link] }=item[:text]
-#  -else
-#    =item[:text]
%br
%br

= partial 'shared/search'

/= page.title
%br
%br

- page.items.each do |item|
  =item.text
  %a{ :href => item.link }="Today"
  %a{ :href => item.archive_link }="Archive"
  %br
