= partial 'shared/navigation_menu', :locals => {:page => page}
%br

%p
  =title.nil? ? page.title : title

- page.category_breadcrumbs.each do |item|
  -if item[:link]
    %a{ :href => item[:link] }=item[:text]
  -else
    =item[:text]
%br

- page.categories.each do |item|
  %a{ :href => item[:link] }=item[:text]
  =item[:additional_info] if item[:additional_info]
%br
%br

- page.item_titles.each do |item|
  %a{ :href => item.link }=item.text

%table{:border => "0"}
  - page.items.each do |item|
    %tr
      %td
        =item.showtime
      %td
        %a{ :href => item.link }="Info"
      %td
        %a{ :href => item.link + "?autoplay=1" }=item.text
      %td
        = item.year
      %td
        =item.duration
