%p
  ="Channels"

= partial 'shared/navigation_menu', :locals => {:page => page}
%br

= partial 'shared/category_breadcrumbs', :locals => {:page => page}
%br

= partial 'shared/search'
%br

%table
  - page.items.each do |item|
    %tr
      %td
        =item.text
      %td
        %a{ :href => item.link }="Today"
      %td
        %a{ :href => item.archive_link }="Archive"
