%p
  ="Channels"
  = partial 'shared/search'
  %br
  
= partial 'shared/navigation_menu', :locals => {:page => page}

= partial 'shared/category_breadcrumbs', :locals => {:page => page}

%table
  - page.items.each do |item|
    %tr
      %td
        =item.text
      %td
        %a{ :href => item.link }="Today"
      %td
        %a{ :href => item.archive_link }="Archive"
