= "Home Page"
%br
%br

%table{:border => "0"}
  - main_page.items.each do |item|
    %tr
      %td
        %a{ :href => item.link }=item.text

%p
  ="Best Ten"

%table{:border => "0"}
  - best_ten_page.items.each do |item|
    %tr
      %td
        %a{ :href => item.link }=item.text
      %td
        =item.channel

%p
  ="Popular Movies and Serials"

%table{:border => "0"}
  - popular_page.items.each do |item|
    %tr
      %td
        %a{ :href => item.link }=item.text
      %td
        =item.channel

%p
  ="We Recommend"

%table{:border => "0"}
  - we_recommend_page.items.each do |item|
    %tr
      %td
        %a{ :href => item.link }=item.text
      %td
        =item.channel
%br
