= "Home Page"
%br
%br

%a{ :href => 'main_menu' }="Main Menu"
%br

%a{ :href => 'best_ten' }="Best 10"
%br

%a{ :href => 'popular_movies_and_serials' }="Popular Movies and Serials"
%br

%a{ :href => 'we_recommend' }="We Recommend"
%br
