!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= "ETVNET Client"
    %script{:src => "/javascripts/jquery-1.4.1.js", :type => "text/javascript"}
    %script{:src => "/javascripts/main.js", :type => "text/javascript"}
  %body
    = yield
