%form{:action => "/login", :method => "post"}
  %br/
  %br/
  %label{:for => "username"}= "Username: "
  %input{:name => "username"}
  %br/
  %label{:for => "pwd"}= "Password: "
  %input{:name => "pwd", :type => "password"}
  %br/
  %br/
  %button{:type => "submit"}="Submit"