!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= "ETVNET Client"
    %link{ :href =>"/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

  %body
    #container
      %p#title=title if defined?(title)
      %p
      = yield